/* Base Layout */
.hamburger {
    display: block;
}

.nav-links-container {
    display: none;
}

.nav-links-container.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    background: #1A1A1A;
    padding: 0 64px 64px 64px;
    gap: 0;
}

.nav-links-container a {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(245, 235, 201, 0.25);
    display: flex;
    align-items: center;
}

.catalog-section {
    display: flex;
    gap: 32px;
    padding: 64px;
    margin-top: 24px;
}

/* Desktop Categories Sidebar */
.desktop-categories {
    width: 232px;
    height: fit-content;
    padding: 24px;
    background: #242424;
    border: #F5EBC9 0.5px solid;
    border-radius: 16px;
    position: sticky;
    top: 88px;
}

/* .desktop-categories h2 {
    font-size: 24px;
    margin-bottom: 24px;
} */

.desktop-categories ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.desktop-categories a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.desktop-categories a:hover,
.desktop-categories a.active {
    background: #F5EBC9;
    color: #1A1A1A;
}

/* Products Grid */
.products-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

/* Product Cards */
.product-card {
    background: #242424;
    border-radius: 16px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-info h3 {
    font-size: 14px;
    line-height: 1.6;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-info p {
    font-size: 13px;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-and-cta {
    display: flex;
    align-items: center;
}

.price {
    font-size: 12px;
    font-weight: 600;
}

/* Categories Filter (Mobile/Tablet) */
.filter-wrapper {
    width: 100%;
    padding: 0;
    transition: all 0.3s ease;
}

.categories-filter {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    width: 100%;
    background: rgba(245, 235, 201, 0.10);
    border: 0.5px solid #F5EBC9;
    border-radius: 24px;
    color: #F5EBC9;
    cursor: pointer;
}

.categories-filter img {
    width: 16px;
    height: 16px;
}

/* Categories Overlay */
.categories-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.50);
    z-index: 999;
    height: 100vh;
}

.categories-overlay.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.categories-modal {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 24px 24px 24px;
    border-radius: 12px 12px 0 0;
    background-color: #1A1A1A;
    transition: transform 0.3s ease;
}

.categories-modal a {
    border-bottom: 1px solid rgba(245, 235, 201, 0.25);
}

.categories-modal h2 {
    font-size: 16px;
    font-weight: 700;
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-modal .close-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.categories-modal .close-btn img {
    width: 24px;
    height: 24px;
}

.categories-modal ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.categories-modal a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    transition: all 0.3s ease;
}

.categories-modal a img {
    display: none;
    width: 24px;
    height: 24px;
}

.categories-modal a.active {
    color: #F5EBC9;
}

.categories-modal a.active img {
    display: block;
}

/* Media Queries */
@media screen and (max-width: 1023px) {
    .desktop-categories {
        display: none;
    }

    .categories-filter {
        display: flex;
    }

    .catalog-section {
        margin-top: 112px;
    }

    .filter-wrapper {
        padding: 8px 24px;
    }

    .filter-wrapper.hidden {
        display: none;
    }
}

@media screen and (min-width: 810px) and (max-width: 1023px) {
    .nav-links-container.active {
        padding: 0 32px 32px 32px;
    }

    .filter-wrapper {
        padding: 8px 32px;
    }

    .catalog-section {
        gap: 32px;
        padding: 32px;
    }

    .products-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}

@media screen and (max-width: 809px) {
    .nav-links-container.active {
        padding: 0 24px 24px 24px;
    }

    .catalog-section {
        gap: 8px;
        padding: 24px;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .product-info {
        padding: 12px;
    }

    .product-info p {
        height: 64px;
        -webkit-line-clamp: 3;
    }
}